<!--
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse">
            <i class="fa fa-angle-down"></i>
        </button>
        <a class="navbar-brand" href="#"><i class="fa fa-university"></i> Home</a>
    </div>

    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Lectures <i class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu">
                <li ng-repeat="lecture in lectureList">
                    <a href="#/lectures/{{lecture}}">{{lecture}}</a>
                </li>
            </ul>
        </li>
        </ul>
    </div>
</nav>
-->

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <i class="fa fa-angle-down"></i>
            </button>
            <a class="navbar-brand" href="#"><i class="fa fa-university fa-lg"></i></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/CS183/#">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Lectures <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="lecture in lectureList">
                            <a class="a-navbar-toggle" href="/CS183/#/lectures/{{lecture}}">{{lecture}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

